<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VisualSoftErp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="VisualSoftErpConnectionString" connectionString="Data Source =cartasportemty.com; Initial Catalog = _DiexsaErp; user id=diexsaUser24; Password=diexsaUser24" providerName="System.Data.SqlClient"/>
	<add name="VisualSoftErp.Properties.Settings.VisualSoftErpConnectionString" connectionString="Data Source =cartasportemty.com; Initial Catalog = _DiexsaErp; user id=diexsaUser24; Password=diexsaUser24" providerName="System.Data.SqlClient"/>
	<add name="VisulSoftErpConnectionStringProductivo" connectionString="Data Source= 99.79.176.209; Initial Catalog = DiexsaErp; user id = diexsaUserSuEmp; Password = dx2024*;" providerName="System.Data.SqlClient"/>
    <!--<add name="VisualSoftErp.Properties.Settings.VisualSoftErpConnectionString" connectionString="Data Source=DIEXSASIST\SQLEXPRESS;Initial Catalog=DiexsaErp;Persist Security Info=True" providerName="System.Data.SqlClient"/>-->    
  </connectionStrings>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/Visual Studio 2013 Blue</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value/>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
	<add key="pathXmlSat"           value="C:\VisualSoftErp\xmlsat\"/>
	<add key="gridlayout"           value="C:\VisualSoftErp\Layouts\"></add>
	<add key="ribbonselectedpage"   value="C:\VisualSoftErp\Layouts\RibbonSelectedPage.txt"/>
	<add key="imagenesdearticulos"  value="C:\VisualSoftErp\Imagenesarticulos\"></add>
    <add key="logoEmpresa"          value="c:\VisualSoftErp\Images\logoempresa.png"/>
    <add key="logoSplash"           value="c:\VisualSoftErp\Images\splashempresa.png"/> 
    <add key="SplashVisual"         value="C:\VisualsoftErp\Images\SplashVisual.png"/>
	<add key="Firmas"               value="c:\VisualSoftErp\Firmas\"/>
	<add key="pathCotizaciones"     value="c:\visualsofterp\cotizaciones\"/>
    <add key="serie"                value=""/>
	<add key="serieCP"              value="CP"/>
	<add key="pathConta"            value="C:\AVC\CONTA\GARJ\"/>
	<add key="EmpresaConta"         value="2"/>
	<add key="MailingCarpeta"       value="sdmRefa"/>
	<add key="pathlocalexe"         value="C:\Users\Sistemas\source\repos\VisualSoftErp\VisualSoftErp\bin\Debug\VisualSoftErp.Exe"/>
    <add key ="Ambiente"            value ="Desarrollo"/>
	<!--Facturacion-->
    <add key="pathxslt"     value="C:\VisualsoftErp\XSLT40\cadenaoriginal_4_0.xslt"/>
    <add key="pathxslt40"   value="C:\VisualsoftErp\XSLT40\cadenaoriginal_4_0.xslt"/>
    <add key="pathxml"      value="C:\VisualSoftErp\Xml33\"/>
    <add key="pathpdf"      value="C:\VisualSoftErp\Pdf33\"/>
	<add key="pathcer"      value="C:\VisualsoftErp\SAT\EKU9003173C9.cer"/> <!-- EKU9003173C9  DESARROLLO -->  <!-- Diexsa -->
    <add key="pathkey"      value="C:\VisualsoftErp\SAT\EKU9003173C9.key"/> <!-- DEX9201028BA  PRODUCTIVO -->
	<add key="pathopenssl"  value="C:\VisualsoftErp\openssl\bin\"/>
    <add key="pathtcr"      value="C:\VisualSoftErp\Tcr33\"/>
    <add key="wsurl"        value="http://visualsoft.com.mx:126/"/>
	<!--Correo -->
    <add key="EMailHost"     value="smtp.office365.com"/>
    <add key="EMailPort"     value="587"/>
    <add key="EMailUsername" value="tienda@diexsa.com"/>
    <add key="EMailPassword" value="Distr12020*_"/>
    <add key="EMailSSL"      value="True"/>
    <add key="EMailFrom"     value="tienda@diexsa.com"/>
    <add key="EMailFromName" value="Distribuiodra Excel, S.A. de C.V."/>
    <add key="Link"          value="www.visualsoft.com.mx"/>
    <add key="PathImagen"    value="http://visualsoft.com.mx:3914/img/desficologo.PNG"/>
    <add key="Footer"        value="SDM"/>  
  </appSettings>
  <userSettings>
    <VisualSoftErp.Properties.Settings>
      <setting name="ApplicationSkinName" serializeAs="String">
        <value/>
      </setting>
    </VisualSoftErp.Properties.Settings>
  </userSettings>
	<system.web>
		<httpRuntime maxRequestLength="1048576" executionTimeout="3600"/>
	</system.web>
</configuration>
